@import "theme";
@import "fonts";
app-text {
  display: block;
  // padding: 10px;
}
// colors
.text {
  h1,
  h2,
  h3,
  p,
  span,
  i,
  li,
  a,
  button {
    color: $dark-color;
  }
}
.color-light {
  h1,
  h2,
  h3,
  p,
  span,
  i,
  li,
  a,
  button {
    color: $light-color;
  }
}
// .color-one {
//   h1,
//   h2,
//   h3,
//   p,
//   span,
//   i,
//   li,
//   a,
//   button {
//     color: $color1;
//   }
// }
// .color-two {
//   h1,
//   h2,
//   h3,
//   p,
//   span,
//   i,
//   li,
//   a,
//   button {
//     color: $color2;
//   }
// }
// .color-three {
//   h1,
//   h2,
//   h3,
//   p,
//   span,
//   i,
//   li,
//   a,
//   button {
//     color: $color3;
//   }
// }
// .color-error {
//   h1,
//   h2,
//   h3,
//   p,
//   span,
//   i,
//   li,
//   a,
//   button {
//     color: $color-error;
//   }
// }
// .color-success {
//   h1,
//   h2,
//   h3,
//   p,
//   span,
//   i,
//   li,
//   a,
//   button {
//     color: $color-success;
//   }
// }
// sizes
.text {
  h1 {
    font-size: $h1-fz;
  }
  h2 {
    font-size: $h2-fz;
  }
  h3 {
    font-size: $h3-fz;
  }
  p,
  span,
  i,
  li,
  a {
    font-size: $regular-fz;
  }
}
